@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  typography-h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl
  }
  typography-h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0
  }
  typography-h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight
  }
  typography-h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight
  }
  typography-p {
    @apply leading-7 [&:not(:first-child)]:mt-6
  }
  typography-inline-code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold
  }
  typography-lead {
    @apply text-xl text-muted-foreground
  }
  typography-large {
    @apply text-lg font-semibold
  }
  typography-small {
    @apply text-sm font-medium leading-none
  }
  typography-muted {
    @apply text-sm text-muted-foreground
  }
}

:root {
  --root-padding: 40px;
}


@property --gradient-angle {
  syntax: '<angle>'; /* <- defined as type angle for the transition to work */
  initial-value: 360deg;
  inherits: false;
}

/* Find a gradient color that have high contrast */

@property --gradient-color-1 {
  syntax: '<color>';
  initial-value: rgb(9,9,10);
  inherits: false;
}

@property --gradient-color-2 {
  syntax: '<color>';
  initial-value: rgb(9,9,10);
  inherits: false;
}

@property --gradient-color-3 {
  syntax: '<color>';
  initial-value: rgb(9,9,10);
  inherits: false;
}

@property --gradient-color-4 {
  syntax: '<color>';
  initial-value: rgb(9,9,10);
  inherits: false;
}

@property --gradient-color-5 {
  syntax: '<color>';
  initial-value: rgb(9,9,10);
  inherits: false;
}

.rotate-gradient {
  background: linear-gradient(
    var(--gradient-angle),
    var(--gradient-color-1),
    var(--gradient-color-2),
    var(--gradient-color-3),
    var(--gradient-color-4),
    var(--gradient-color-5)
  );
  animation: gradient-rotate-animation 4s linear infinite;
  animation-play-state: paused;
  transition: --gradient-color-1 2s, --gradient-color-2 2s, --gradient-color-3 2s, --gradient-color-4 2s, --gradient-color-5 2s;
}

.rotate-gradient.hover {
  animation-play-state: running;
  --gradient-color-1: rgb(48, 26, 75);
  --gradient-color-2: rgb(109, 177, 191);
  --gradient-color-3: rgb(255, 234, 236);
  --gradient-color-4: rgb(243, 154, 157);
  --gradient-color-5: rgb(63, 108, 81);
}

@keyframes gradient-rotate-animation {
  0% {
    --gradient-angle: 360deg;
  }

  100% {
    --gradient-angle: 0deg;
  }
}